In [ ]:
'''
表格显示控制

df.style.format()
 
'''

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.DataFrame(np.random.randn(10,4),columns=['a','b','c','d'])
sty = df.style

In [3]:
# 按照百分数显示

df = pd.DataFrame(np.random.randn(10,4),columns=['a','b','c','d'])
print(df.head())
df.head().style.format("{:.2%}")

          a         b         c         d
0 -0.240393  0.238639 -0.207536  0.635190
1  1.077959 -1.526583 -0.216252  1.218049
2 -1.489623 -0.959523  0.868225  0.279078
3 -0.909010 -1.713432 -0.758621  0.080633
4 -0.466262 -0.014200  1.180753 -1.859700

In [4]:
# 显示小数点数

df.head().style.format("{:.4f}")

In [5]:
# 显示正负数

df.head().style.format("{:+.2f}")

In [6]:
# 分列显示

df.head().style.format({'b':"{:.2%}", 'c':"{:+.3f}", 'd':"{:.3f}"})